.dark{
    display: flex;
    justify-content: end;
    margin-top: 3rem;
    img{
        width: 2.5rem;
        filter: invert(100%);

        &:hover{
            cursor: pointer;
        }
    }
}

.barra{
    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a img{
            height: 4.5rem;
        }

        .menu-movil{
            display: none;
        }

    }
}

.barra-menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    img{
        width: 30rem;
    }

    .menu-movil{
        cursor: pointer;
        // margin-right: 1rem;
        img{
            width: 3rem;
        }
    }
}

.nav-none{
    // display: none;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in, opacity .3s linear, height .3s linear;
}

.navegacion{
    @include tablet{
        visibility: visible;
        opacity: 1;
        display: flex;
        align-items: center;
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet{
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type{
                margin-right: 0;
            }
        }

        &:hover{
            color: $verde;
        }
    }
}

.mostrar-navegacion{
    // display: block;
    visibility: visible;
    opacity: 1;
    height: auto;
    @include tablet{
        // display: flex;
        
    }
}



